<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

<!--设置文件中的大小写  -->
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>

	<!--允许文件中的类出现别名  -->
	<typeAliases>
		<package name="crud_02.bean"/>
	</typeAliases>
<!--文件分页  -->
	<plugins>
		<plugin interceptor="com.github.pagehelper.PageInterceptor">
			<!--分页参数合理化  -->
			<property name="reasonable" value="true"/>
		</plugin>
	</plugins>
	<!--<mappers>-->
	<!--<mapper resource="mapper/ManngerMapper.xml"></mapper>-->
	<!--</mappers>-->
</configuration>